a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin:5px;
}

a:hover, a:active {
  background-color: red;
}

#list{
  visibility: hidden;

}

#name{
  visibility: hidden;
  position:fixed;
  top:12%;
  left: 28%;
  z-index:2;
  font: bold 90px Sans-Serif;
  color: lightgrey;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#circle1{
  position: absolute;
  top: 40%;
  left:28%;
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
  z-index: 3;
}

#classmates{
  position:fixed;
  top: 46.5%;
  left: 27.5%;
  font: bold 20px Sans-Serif;
  color: white;
  text-transform: uppercase;
  z-index: 2;
}

#circle1:hover{
  width: 150px;
  height: 150px;
  transform: translate(-10%,-10%);
  z-index: 1;
  animation: color_change 3s infinite linear;
}

@-webkit-keyframes color_change {
		0%{
				background-color: red;
		}
		50%{
				background-color: blue;
		}
    100%{
				background-color: red;
		}
}

#square2{
  position: absolute;
  top: 40%;
  left:48%;
  width: 100px;
  height: 100px;
  background: red;
  z-index: 3;
}

#square2:hover{
  position: absolute;
  width: 150px;
  height: 150px;
  transform: translate(-10%,-10%);
  animation: color_change2 3s infinite linear;
  z-index: 1;
}

@-webkit-keyframes color_change2 {
		0%{
				background-color: red;
		}
		50%{
				background-color: yellow;
		}
    100%{
				background-color: red;
		}
}

#projects{
  position:fixed;
  top: 46.5%;
  left: 48.5%;
  font: bold 20px Sans-Serif;
  color: white;
  text-transform: uppercase;
  z-index: 2;

}

button {
  border-radius: 10px;
  width: 100px;
  height: 50px;
  background-color: transparent;
  border: 2px solid red;
  color:black;

}

footer {
  visibility: hidden;
  margin-left: 20px;
  margin-top: 50px;
  padding: 20px 0px;
  position: absolute;
  top: 15%;
  left:40%;
}

#triangle3{
  position: absolute;
  top: 40%;
  left:68%;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
  z-index: 3;
}

#triangle3:hover{
  position: absolute;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 100px solid red;
  transform: translate(-10%,-10%);
  animation: color_change3 3s infinite linear;
  z-index: 1;
}

#about{
  position:fixed;
  top: 46.5%;
  left: 69.75%;
  font: bold 20px Sans-Serif;
  color: white;
  text-transform: uppercase;
  z-index: 2;
}

#about_text{
  visibility: hidden;
  position:fixed;
  width: 900px;
  height: 150px;
  top: 62%;
  left: 20%;
  font: 20px Sans-Serif;
  color: black;
  z-index: 2;
  text-align: center;

}

#note{
  font-size: 15px;
  line-height: 10px;
}

@-webkit-keyframes color_change3 {
		0%{
				border-bottom: 140px solid red;
		}
		50%{
				border-bottom: 140px solid pink;
		}
    100%{
				border-bottom: 140px solid red;
		}
}
