#name{
  position:fixed;
  margin-left: 0px;
  margin-top: 15px;
  z-index:2;
  font: bold 90px Sans-Serif;
  color: lightgrey;
  letter-spacing: 2px;
  text-transform: uppercase;
  writing-mode: vertical-rl;
}

#circle1{
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%
}
