body{
background-color: black;

}

.courage{
  font-family: termina, sans-serif;
  font-style: bold;
  font-weight: 800;
  font-size:80px;
  animation:glow 0s ease-in-out infinite alternate;
  animation-delay:1s;
  animation-play-state: paused;
  }

  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;

    }

    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;

    }
  }


#c{
  color: #333333;
  position: absolute;
  top: 45%;
  left:45%;
  animation: move1 0s ease-in-out;
 }

 @-webkit-keyframes move1 {
  0% {
    left:45%;
    color: #333333;
  }

  100% {
    left:18%;
    color: white;
  }
}

#o{
  color: black;
  position: absolute;
  top: 5%;
  left:90%;
  animation: move2 0s ease-in-out;
  }

  @-webkit-keyframes move2 {
  0% {
    top: 5%;
    left:90%;
    color:black;
  }

  100% {
    top: 45%;
    left:28%;
    color:white;
  }
  }

#u{
  color: black;
  position: absolute;
  top: 80%;
  left:90%;
  animation: move3 0s ease-in-out;
  }

  @-webkit-keyframes move3 {
  0% {
    top: 80%;
    left:90%;
    color:black;
  }

  100% {
    top: 45%;
    left:38%;
    color:white;
  }
  }

#r{
  color: black;
  position: absolute;
  top: 80%;
  left:46%;
  animation-delay: 5s;
  animation: move4 0s ease-in-out;
  }

  @-webkit-keyframes move4 {
  0% {
    top: 80%;
    left:46%;
    color:black;
  }

  100% {
    top: 45%;
    left:48%;
    color:white;
  }
  }

#a{
  color: black;
  position: absolute;
  top: 80%;
  left:5%;
  animation: move5 0s ease-in-out;
  }

  @-webkit-keyframes move5 {
  0% {
    top: 80%;
    left:5%;
    color:black;
  }

  100% {
    top: 45%;
    left:58%;
    color:white;
  }
  }

#g{
  color: black;
  position: absolute;
  top: 5%;
  left:5%;
  animation: move6 0s ease-in-out;
  }

  @-webkit-keyframes move6 {
  0% {
    top: 5%;
    left:5%;
    color:black;
  }

  100% {
    top: 45%;
    left:68%;
    color:white;
  }
  }

#e{
  color: black;
  position: absolute;
  top: 5%;
  left:46%;
  animation: move7 0s ease-in-out;
  }

  @-webkit-keyframes move7 {
  0% {
    top: 5%;
    left:46%;
    color:black;
  }

  100% {
    top: 45%;
    left:78%;
    color:white;
  }
  }

#next{
  position:absolute;
  top: 65%;
  left: 43%;
  opacity:0;
  color: white;
  font-family: termina, sans-serif;
  font-weight: 800;
  font-style: bold;
  font-size: 100px;
  animation: cd 0s infinite;
  animation-delay:2s;
}

@keyframes cd {

  0%{
    opacity:0;
  }

  50%{
    opacity:1;
  }

  100%{
    opacity:0;
  }


}

a:link {
		color: white;
		text-decoration: none;
}

a:visited {
		color: white;
}

a:hover {
		color: lightgrey;
	}
