body{
  background-color: #FF4418;
  animation: change 8s ease-in-out infinite;
  animation delay:5s;
  }

  @-webkit-keyframes change {
    0% {
      background-color: #FFC000;
    }

    20% {
      background-color: #610F47;
    }

    40% {
      background-color: #9E003D;
    }

    60% {
      background-color: #DA0033;
    }

    80% {
      background-color: #FF4418;
    }

    100% {
      background-color: #FFC000;
    }
  }

#c{
  font-family: termina, sans-serif;
  font-style: bold;
  font-weight: 800;
  font-size:900px;
  color: black;
  position: absolute;
  top: -20%;
  left:0%;
  animation: move1 8s ease-in-out infinite;
  animation delay:2s;
  }

  @-webkit-keyframes move1 {
    0% {
      font-family:termina, sans-serif;
      color: #FFC000;
      font-size:900px;

    }

    20% {
      font-family: Cabazon, sans-serif;
      color: red;
      font-size:900px;

    }

    40% {
      font-family:rowdy, sans-serif;
      color: #FF4418;
      font-size:900px;

    }

    60% {
      font-family:hwt-mardell, sans-serif;
      color: #610F47;
      font-size:900px;

    }

    80% {
      font-family:serifa, serif;
      color: #9E003D;
      font-size:900px;

    }

    100% {
      font-family: Baskerville, serif;
      color: #DA0033;
      font-size:900px;

    }
  }

#o{
  font-family: termina, sans-serif;
  font-style: bold;
  font-weight: 800;
  font-size:900px;
  color: black;
  position: absolute;
  top: -20%;
  left:15%;
  animation: move2 8s ease-in-out infinite;
  animation delay:2s;
  }

  @-webkit-keyframes move2 {
    0% {
      font-family:hwt-mardell, sans-serif;
      color: #610F47;
      font-size:900px;

    }

    20% {
      font-family:termina, sans-serif;
      color: #FFC000;
      font-size:900px;


    }

    40% {
      font-family: Baskerville, serif;
      color: #DA0033;
      font-size:900px;

    }

    60% {
      font-family:serifa, serif;
      color: #9E003D;
      font-size:900px;

    }

    80% {
      font-family:rowdy, sans-serif;
      color: #FF4418;
      font-size:900px;

    }

    100% {
      font-family: Cabazon, sans-serif;
      color: red;
      font-size:900px;

    }
  }

#u{
  font-family: termina, sans-serif;
  font-style: bold;
  font-weight: 800;
  font-size:900px;
  color: black;
  position: absolute;
  top: -10%;
  left:30%;
  animation: move3 8s ease-in-out infinite;
  }

  @-webkit-keyframes move3 {
    0% {
      font-family:rowdy, sans-serif;
      color: #FF4418;
      font-size:900px;

    }

    20% {
      font-family:hwt-mardell, sans-serif;
      color: #610F47;
      font-size:900px;

    }

    40% {
      font-family:termina, sans-serif;
      color: #FFC000;
      font-size:900px;

    }

    60% {
      font-family: Cabazon, sans-serif;
      color: red;
      font-size:900px;

    }

    80% {
      font-family: Baskerville, serif;
      color: #DA0033;
      font-size:900px;

    }

    100% {
      font-family:serifa, serif;
      color: #9E003D;
      font-size:900px;

    }
  }

#r{
  font-family: termina, sans-serif;
  font-style: bold;
  font-weight: 800;
  font-size:900px;
  color: black;
  position: absolute;
  top: -20%;
  left:50%;
  animation: move4 8s ease-in-out infinite;
  }

  @-webkit-keyframes move4 {
    0% {
      font-family: Cabazon, sans-serif;
      color: red;
      font-size:900px;


    }

    20% {
      font-family: Baskerville, serif;
      color: #DA0033;
      font-size:900px;

    }

    40% {
      font-family:serifa, serif;
      color: #9E003D;
      font-size:900px;

    }

    60% {
      font-family:termina, sans-serif;
      color: #FFC000;
      font-size:900px;

    }

    80% {
      font-family:rowdy, sans-serif;
      color: #FF4418;
      font-size:900px;

    }

    100% {
      font-family:hwt-mardell, sans-serif;
      color: #610F47;
      font-size:900px;

    }
  }

#a{
  font-family: termina, sans-serif;
  font-style: bold;
  font-weight: 800;
  font-size:900px;
  color: black;
  position: absolute;
  top: -10%;
  left:70%;
  animation: move5 8s ease-in-out infinite;
  }

  @-webkit-keyframes move5 {
    0% {
      font-family:hwt-mardell, sans-serif;
      color: #610F47;
      font-size:900px;

    }

    20% {
      font-family:serifa, serif;
      color: #9E003D;
      font-size:900px;

    }

    40% {
      font-family:rowdy, sans-serif;
      color: #FF4418;
      font-size:900px;

    }

    60% {
      font-family: Baskerville, serif;
      color: #DA0033;
      font-size:900px;

    }

    80% {
      font-family:termina, sans-serif;
      color: #FFC000;
      font-size:900px;

    }

    100% {
      font-family: Cabazon, sans-serif;
      color: red;
      font-size:900px;

    }
  }

#g{
  font-family: termina, sans-serif;
  font-style: bold;
  font-weight: 800;
  font-size:900px;
  color: black;
  position: absolute;
  top: -20%;
  left:90%;
  animation: move6 8s ease-in-out infinite;
  }

  @-webkit-keyframes move6 {
    0% {
      font-family:rowdy, sans-serif;
      color: #FF4418;
      font-size:900px;

    }

    20% {
      font-family: Cabazon, sans-serif;
      color: red;
      font-size:900px;

    }

    40% {
      font-family: Baskerville, serif;
      color: #DA0033;
      font-size:900px;

    }

    60% {
      font-family:hwt-mardell, sans-serif;
      color: #610F47;
      font-size:900px;

    }

    80% {
      font-family:serifa, serif;
      color: #9E003D;
      font-size:900px;

    }

    100% {
      font-family:termina, sans-serif;
      color: #FFC000;
      font-size:900px;

    }
  }

#e{
  font-family: termina, sans-serif;
  font-style: bold;
  font-weight: 800;
  font-size:900px;
  color: black;
  position: absolute;
  top: -10%;
  left:110%;
  animation: move7 8s ease-in-out infinite;
  }

  @-webkit-keyframes move7 {
    0% {
      font-family:termina, sans-serif;
      color: #FFC000;
      font-size:900px;

    }

    20% {
      font-family: Baskerville, serif;
      color: #DA0033;
      font-size:900px;

    }

    40% {
      font-family: Cabazon, sans-serif;
      color: red;
      font-size:900px;

    }

    60% {
      font-family:serifa, serif;
      color: #9E003D;
      font-size:900px;
    }

    80% {
      font-family:rowdy, sans-serif;
      color: #FF4418;
      font-size:900px;

    }

    100% {
      font-family:termina, sans-serif;
      color: #DA0033;
      font-size: ;


    }
  }

a{
  opacity:1;
  position: absolute;
  top:65%;
  left:45%;
  font-family: termina, sans-serif;
  font-style: bold;
  font-weight: 800;
  font-size:50px;
  color: lightgrey;
  animation: move8 8s ease-in-out infinite;
  animation delay:2s;
  }

  @-webkit-keyframes move8 {
    0% {

      font-family:termina, sans-serif;
      color: #FFC000;
      font-size:100px;
      top:50%;
      left:65%;

    }

    20% {
      font-family: Cabazon, sans-serif;
      color: red;
      font-size:100px;
      top:75%;
      left:75%;

    }

    40% {
      font-family:rowdy, sans-serif;
      color: #FF4418;
      font-size:100px;
      top:40%;
      left:95%;

    }

    60% {
      font-family:hwt-mardell, sans-serif;
      color: #610F47;
      font-size:100px;
      top:60%;
      left:115%;

    }

    80% {
      font-family:serifa, serif;
      color: #9E003D;
      font-size:100px;
      top:40%;
      left:90%;

    }

    100% {

      font-family: Baskerville, serif;
      color: #DA0033;
      font-size:100px;
      top:50%;
      left:65%;

    }
  }
a:link {
		color: lightgrey;
		text-decoration: none;
}

a:visited {
		color: lightgrey;
}

a:hover {
		color: black;
	}
