.square{
 position: relative;
}

#square1{
  position: absolute;
  top:50%;
  left:50%;
  margin:250px 0 0 -50px;
  width:100px;
  height:100px;
  z-index: 100;
  background-image: linear-gradient(to right, blue, #00FFFF);
  animation: turn1 infinite linear;
  transform-origin: center;
  animation-duration: 2000ms;
  }

  @keyframes turn1 {
  0% {
     transform:rotate(0deg);
  }
  50% {
     transform:rotate(45deg);
  }
  100% {
     transform:rotate(0deg);
  }
}

#square2{
  position: absolute;
  top:50%;
  left:50%;
  margin:150px 0 0 -150px;
  width:300px;
  height:300px;
  z-index: 99;
  background-image: linear-gradient(to right, #00FFFF, blue);
  animation: turn2 infinite linear;
  transform-origin: center;
  animation-duration: 2000ms;
  animation-delay: 1s;
  }

  @keyframes turn2 {
  0% {
     transform:rotate(0deg);
  }
  50% {
     transform:rotate(45deg);
  }
  100% {
     transform:rotate(0deg);
  }
  }

#square3{
  position: absolute;
  top:50%;
  left:50%;
  margin:50px 0 0 -250px;
  width:500px;
  height:500px;
  z-index: 98;
  background-image: linear-gradient(to right, blue, #00FFFF);
  animation: turn3 infinite linear;
  transform-origin: center;
  animation-duration: 2000ms;
  }

  @keyframes turn3 {
  0% {
     transform:rotate(0deg);
  }
  50% {
     transform:rotate(45deg);
  }
  100% {
     transform:rotate(0deg);
  }
  }
